body {
    background-color: #2F3C4F;
}

.container {
    background-color: #A5BDCD;
    width: 1000px;
    height: 100%;
    margin: 0px auto !important;
    padding: 50px 0px 0px 0px;
    border: 0;  
    box-shadow: 0px 0px 14px 3px rgba(136,136,136,0.71);
    vertical-align: top;
}

.content {
    background-color: #A5BDCD;
    padding: 0 75px 0 75px;
    height: 100%;
    vertical-align: top;

}

.foot {
    background-color: #506F86;
    width: 1000px;
    height: 100px;
    text-align: center;
    margin: 10px auto 0px;
    padding: 10px;
}

.center {
    margin: auto;
}


/*///////////////////////////////////
//////////  Navigation Bar  /////////
///////////////////////////////////*/

.navbar {
    border-radius: 0px !important;
}

.navbar-inverse {
  background-color: #506F86 !important;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border: none !important;
  width: 1000;
  margin: auto;
}

.navbar-fixed-top {
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF !important
}

.navbar-inverse .navbar-brand {
    color: white !important;
    font-family: Lobster;
    font-size: 2.5em;
    margin-right: 50px;
}

.navbar-inverse .btn {
    margin: 10px 1px;
    padding: 5px 5px;
    background-color: #FBB040;
}
.navbar-inverse:hover .btn:hover {
    margin: 10px 1px;
    padding: 5px 5px;
    background-color: #DE703C;
}

/*//////////////////////////*/

.search-btn {
    background-color: #DE703C;
    border-radius: 0 10px 10px 0;
}

.search-btn:hover { 
}

/*////////////////////////////*/
.contact {
    width: 220px;
    height: 240px;
    padding: 10px 15px;
    margin: 10px;
    background-color: #FBB040;
    border-radius: 20px;
    display: inline-table;
    text-align: center;
}

.circleImage {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    opacity: .8;
    background-size: 100px auto;
    display: inline-block;
}

.circleImage:hover {
    opacity: 1;
}
